pillow
pika
tflite
requests
https://github.com/waggle-sensor/pywaggle/archive/0.43.2.zip
git+https://github.com/sagecontinuum/sage-cli.git
--extra-index-url https://google-coral.github.io/py-repo/ 
tflite_runtime